params{
  // Input
  samples = false
  design = false
  bowtie2_index = false
  chromsize = false

  // Output
  outdir = "./results"

  // 2. FastQC
  skip_fastqc = false

  // 3. Trim-Galore
  skip_trim = false
  clip_R1 = 5
  clip_R2 = 5
  three_prime_clip_R1 = 3
  three_prime_clip_R2 = 3

  // 5, 9. Sample info plots2
  skip_plots = false

  // 6. Filter
  quality_score = 30

  // 7. Sample correlation
  skip_correlation = false
  bin_size = 500


  // 10. BigWig
  skip_bigwig = false
  genome_size = 2652783500

  //Other
  help = false
}

process {
    cpus   = 24
    memory = '128GB'
}
